/*
 * ++ Fonts ++
 *
 * Headings / Main: Mukta Mahee Extra Bold (800)
 * Main body: Noto Sans Regular (400)
 *
 * ++ Colors ++
 *
 * Discord-Black: #18191C
 * Discord-Button-Blue: #738BD7
 * Discord-Button-Green: #43B581
 *
 * Lower Number = Lighter Color
 *
 * Grey-0: #42464D
 * Grey-1: #36393E
 * Grey-2: #33363B
 * Grey-3: #313338
 * Grey-4: #2F3136
 * Grey-5: #26272B
 * Grey-6: #202225
 *
 * Warning-Orange: #F26522
 *
 */


/* +++ Fonts +++ */

.mukta{
  font-family: 'Mukta Mahee', sans-serif;
}

.noto{
  font-family: 'Noto Sans', sans-serif;
}

.play{
  font-family: 'Play', sans-serif;
}
/* +++ Backgrounds +++ */

.bg-button-blue{
  background-color: #738BD7;
}

.bg-button-green{
  background-color: #43B581;
}

.bg-warning-orange{
  background-color: #F26522;
}

.bg-discord-black{
  background-color: #18191C;
}

.bg-grey-0{
  background-color: #42464D;
}

.bg-grey-1{
  background-color: #36393E;
}

.bg-grey-2{
  background-color: #33363B;
}

.bg-grey-3{
  background-color: #313338;
}

.bg-grey-4{
  background-color: #2F3136;
}

.bg-grey-5{
  background-color: #26272B;
}

.bg-grey-6{
  background-color: #202225;
}


/* +++ Text Colors +++ */

.txt-white{
  color: #FFFFFF;
}

.txt-blue{
  color: #738BD7;
}

.txt-green{
  color: #43B581;
}

.txt-orange{
  color: #F26522;
}
/* +++ Opacity +++ */

.op-6{
  opacity: 0.6;
}

.op-7{
  opacity: 0.7;
}

.op-8{
  opacity: 0.8;
}

.op-9{
  opacity: 0.9;
}

/* +++ Links +++ */

a {
  outline: none;
  border: none;
  color: inherit;
}

/* +++ Navbar +++ */

.top {
  font-size: 45px;
}
